{%- comment -%}Be Levels - start mod: agregamos restricción por paises, selector de cantidad y botón add to cart agrupados en be-box {%- endcomment -%}
{%- if
  product.metafields.Restricciones.Paises contains "España" and localization.country.iso_code == 'ES' or 
  product.metafields.Restricciones.Paises contains "Estados Unidos" and localization.country.iso_code == 'US' or 
  product.metafields.Restricciones.Paises contains "México" and localization.country.iso_code == 'MX' 
-%}
  <div class="warning fake-button">
    {{ 'belevels.products.product_not_available_in' | t }} {{ localization.country.name }}
  </div>
{%- else -%}
  <div class="be-add-to-cart-box">
    <div
      class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
      {{ block.shopify_attributes }}
    >
      <label class="form__label visually-hidden" for="Quantity-{{ section.id }}">
        {{ 'products.product.quantity.label' | t }}
      </label>

      <quantity-input class="quantity">
        <button class="quantity__button no-js-hidden" name="minus" type="button">
          <span class="visually-hidden">
            {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
          </span>
          {% render 'icon-minus' %}
        </button>
        <input
          class="quantity__input" 
          type="number"
          name="quantity"
          id="Quantity-{{ section.id }}"
          min="1"
          value="1"
          form="{{ product_form_id }}"
        >
        <button class="quantity__button no-js-hidden" name="plus" type="button">
          <span class="visually-hidden">
            {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
          </span>
          {% render 'icon-plus' %}
        </button>
      </quantity-input>
    </div>
    {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, show_pickup_availability: true -%}
  </div>
{%- endif -%}