{%-liquid
  assign handle = section.settings.title
  case handle
  when 'proceso-mejora'
    assign sectionTitle         = product.metafields.ProcesoMejora.TituloSeccion
    assign sectionSubtitle      = product.metafields.ProcesoMejora.DescripcionSeccion
    assign sectionShowHeader    = product.metafields.ProcesoMejora.MostrarTitulo
    assign rowImageFileName     = product.metafields.ProcesoMejora.ImagenSeccion | split: "/" | last | split: "?" | first
    assign rowImage             = images[rowImageFileName]
    assign sectionButtonLabel   = ''
    assign sectionButtonLink    = ''

    assign columnHeading        = product.metafields.ProcesoMejora.TituloContenido
    assign columnCaption        = product.metafields.ProcesoMejora.TiempoContenido
    assign columnText           = product.metafields.ProcesoMejora.DescripcionContenido
    assign columnButtonLabel    = ''
    assign columnButtonLink     = ''

    assign rowCount          =  columnHeading | size | minus: 1
  when 'beneficios'
    assign sectionTitle         = product.metafields.Beneficios.TituloSeccion
    assign sectionSubtitle      = product.metafields.Beneficios.DescripcionSeccion
    assign sectionShowHeader    = product.metafields.Beneficios.MostrarTitulo
    assign rowImageFileName     = product.metafields.Beneficios.ImagenBeneficioPrincipal
    
    assign sectionTitleDowncase = sectionTitle | downcase
    assign sectionButtonLabel   = 'belevels.products.show_more' | t | append: ' ' | append: sectionTitleDowncase

    assign sectionButtonLink    = ''

    assign columnHeading        = product.metafields.Beneficios.TituloBeneficioPrincipal
    assign columnCaption        = ''
    assign columnText           = product.metafields.Beneficios.DescripcionBeneficioPrincipal
    assign columnButtonLabel    = ''
    assign columnButtonLink     = ''

    assign popupColumnHeading   = product.metafields.Beneficios.TituloBeneficioSecundario
    assign popupColumnText      = product.metafields.Beneficios.DescripcionBeneficioSecundario

    assign rowCount             =  columnHeading | size | minus: 1
    assign popupRowCount        =  popupColumnHeading | size | minus: 1
  else
    assign sectionTitle         = 'Título de la sección'
    assign sectionSubtitle      = 'Subtítulo de la sección'
    assign sectionShowHeader    = 1
    assign rowImage             = ''
    assign sectionButtonLabel   = ''
    assign sectionButtonLink    = ''

    assign columnHeading        = 'Título del contenido'
    assign columnCaption        = 'Badge del contenido'
    assign columnText           = 'Descripción del contenido'
    assign columnButtonLabel    = ''
    assign columnButtonLink     = ''

    assign rowCount          =  1
endcase
-%}
{%-liquid
  comment
  assign sectionTitle         = product.metafields.ProcesoMejora.TituloSeccion
  assign sectionSubtitle      = product.metafields.ProcesoMejora.DescripcionSeccion
  assign sectionShowHeader    = product.metafields.ProcesoMejora.MostrarTitulo
  assign rowImageFileName = product.metafields.ProcesoMejora.ImagenSeccion | split: "/" | last | split: "?" | first
  assign rowImage         = images[rowImageFileName]
  assign sectionButtonLabel   = ''
  assign sectionButtonLink    = ''

  assign columnHeading        = product.metafields.ProcesoMejora.TituloContenido
  assign columnCaption        = product.metafields.ProcesoMejora.TiempoContenido
  assign columnText           = product.metafields.ProcesoMejora.DescripcionContenido
  assign columnButtonLabel    = ''
  assign columnButtonLink     = ''

  assign columnCount          =  columnHeading | size | minus: 1
  endcomment
-%}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="image-with-text multirow image-with-text--{{ section.settings.content_layout }}{% if section.settings.layout == 'grid' %} page-width{% endif %} isolate gradient color-{{ section.settings.color_scheme }}{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == 'background-1' and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %} section-{{ section.id }}-padding">
  {%- if sectionShowHeader == 1 -%}
    <div class="multirow-title-wrapper title-wrapper--no-bottom-margin title-wrapper--no-top-margin page-width d-flex--column d-flex-align--{{ section.settings.title_wrapper_alignment }} {{ section.settings.title_wrapper_alignment }}"> 
      {%- unless sectionTitle == blank -%}
        <h2 class="title {{ section.settings.heading_size }}">
          {{ sectionTitle | escape }}
        </h2>
      {%- endunless -%}
      {%- unless sectionSubtitle == blank -%}
        <div  class="{{ section.settings.subheading_style }}" {{ block.shopify_attributes }}>
          <span>{{ sectionSubtitle | escape }}</span>
        </div>
      {%- endunless -%}
    </div> 
  {%- endif -%}

  {%- for block in (0..rowCount) -%}
    {%- liquid
      assign row_image_file_name  = rowImageFileName[block] | split: "/" | last | split: "?" | first
      assign row_image            = images[row_image_file_name]
      assign column_heading       = columnHeading[block]
      assign column_caption       = columnCaption[block]
      assign column_text          = columnText[block]
      assign column_button_label  = columnButtonLabel[block]
      assign column_button_link   = columnButtonLink[block]
      assign row_direction        = forloop.index | modulo: 2 
    -%}

    <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.column_layout == 'text_first' %} image-with-text__grid--reverse{% endif %}{% if section.settings.column_layout == 'image_first' and row_direction == 0 %} image-with-text__grid--reverse{% endif %}{% if section.settings.column_layout == 'text_first' and row_direction == 1 %} image-with-text__grid--reverse{% endif %}">
      <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
      
        <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings {% if row_image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
          {% if section.settings.height == 'adapt' and row_image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
        >
          {%- if row_image != blank -%}
            {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
            {{ row_image | image_url: width: 1500 | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: '165, 360, 535, 750, 1070, 1500'
            }}
          {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
      </div>

      <div class="image-with-text__text-item grid__item">
        <div id="ImageWithText--{{ section.id }}" class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }}x content-container">
          {%- if column_heading -%}
            <h3 class="image-with-text__heading {{ section.settings.column_heading_size }}" {{ block.shopify_attributes }}>
              {{ column_heading | escape }}
            </h3>
          {%- endif -%}
          {%- if column_caption -%}
            <p class="image-with-text__text image-with-text__text--caption {{ section.settings.column_text_style }} {{ section.settings.column_text_style }}--{{ section.settings.column_text_size }} {{ section.settings.column_text_style }}" {{ block.shopify_attributes }}>
              {{ column_caption | escape }}
            </p> 
          {%- endif -%}
          {%- if column_text -%}
            <div class="image-with-text__text rte {{ section.settings.column_column_text_style }}" {{ block.shopify_attributes }}>
              {{ column_text }}
            </div>
          {%- endif -%}
          {%- if column_button_label != blank -%}
            <a{% if column_button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ column_button_link }}"{% endif %} class="button{% if section.settings.column_button_style_secondary %} button--secondary{% else %} button--primary{% endif %}" {{ block.shopify_attributes }}>
              {{ column_button_label | escape }}
            </a>
          {%- endif -%}
          <!-- modal opener -->
          {%- if forloop.last and popupRowCount > 0 -%}
            <modal-opener
              class="product-popup-modal__opener no-js-hidden quick-add-hidden" 
              data-modal="#PopupModal-{{ section.id }}"
              {{ block.shopify_attributes }}
            >
              <button
                id="ProductPopup-{{ section.id }}"
                class="button button--secondary animate-arrow"
                type="button"
                aria-haspopup="dialog"
              >
                <span>{{ sectionButtonLabel | escape }}</span>
                <span class="icon-wrap">{% render 'icon-arrow' %}</span>
              </button>
            </modal-opener>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- endfor -%}
  </div>
  {%- comment -%}
  <div class="center page-width">
    {%- if popupRowCount > 0 -%}
      {%- comment -%}
        <a class="button button--secondary"{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
        {{ sectionButtonLabel | escape }}
        </a>
      {%- endcomment -%}
      <modal-opener
        class="product-popup-modal__opener no-js-hidden quick-add-hidden" 
        data-modal="#PopupModal-{{ section.id }}"
        {{ block.shopify_attributes }}
      >
        <button
          id="ProductPopup-{{ section.id }}"
          class="button button--secondary"
          type="button"
          aria-haspopup="dialog"
        >
          <span>{{ sectionButtonLabel | escape }}</span>
        </button>
      </modal-opener>
    {%- endif -%}
  </div>
  {%- endcomment -%}
</div>

<!-- Start Popup -->
{%- if popupRowCount > 0 -%}
  <modal-dialog id="PopupModal-{{ section.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
    <div
      role="dialog"
      aria-label="{{ sectionButtonLabel }}"
      aria-modal="true"
      class="product-popup-modal__content"
      tabindex="-1"
    >
      <button
        id="ModalClose-{{ section.id }}"
        type="button"
        class="product-popup-modal__toggle"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {% render 'icon-close' %}
      </button>

      <div class="product-popup-modal__content-info">
        {%- for block in (0..popupRowCount) -%}
          {%- liquid
            assign popup_column_heading = popupColumnHeading[block]
            assign popup_column_text    = popupColumnText[block]
          -%}
          {%- if popup_column_heading -%}
            <h3 class="h2" {{ block.shopify_attributes }}>
              {{ popup_column_heading | escape }}
            </h3>
          {%- endif -%}
          {%- if popup_column_text -%}
            <div class="image-with-text__text rtex" {{ block.shopify_attributes }}>
              {{ popup_column_text }}
            </div>
          {%- endif -%}

        {%- endfor -%}
      </div>

    </div>
  </modal-dialog>
{%- endif -%}
<!-- End Popup -->
  
{% schema %}
{
  "name": "t:belevels.sections.be-image-with-text.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Configuración de la sección"
    },
    {
      "type": "select",
      "id": "title",
      "options": [
        {
          "value": "seleccionar",
          "label": "Información a mostrar"
        },
        {
          "value": "como-se-usa",
          "label": "Cómo se usa"
        },
        {
          "value": "proceso-mejora",
          "label": "Proceso de mejora"
        },
        {
          "value": "beneficios",
          "label": "Beneficios"
        },
        {
          "value": "opiniones-expertos",
          "label": "Que dicen de nosotros"
        },
        {
          "value": "ingredientes",
          "label": "Ingredientes"
        }
      ],
      "default": "beneficios",
      "label": "Información a mostrar"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "grid",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "Soy un subtítulo impactante",
      "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
    },
    {
      "type": "select",
      "id": "subheading_style",
      "label": "t:belevels.sections.all.subheading_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "select",
      "id": "title_wrapper_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:belevels.sections.all.alignment_right"
        }
      ],
      "default": "center",
      "label": "t:belevels.sections.all.header_alignment"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Mostrar encabezado",
      "default": true
    },
    {
      "type": "text",
      "id": "section_button_label",
      "default": "Button label",
      "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
      "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
    },
    {
      "type": "header",
      "content": "Configuración del contenido"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "select",
      "id": "column_layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "middle",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "select",
      "id": "column_heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "column_text_style",
      "options": [
        {
          "value": "subtitle",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
        },
        {
          "value": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
        }
      ],
      "default": "caption-with-letter-spacing",
      "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Título de columna",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "column_button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "column_button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:belevels.sections.be-image-with-text.presets.name",
      "blocks": [
        {
          "type": "caption"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
